{% extends 'booking/summary.html.twig' %}

{% block title %}
    {{parent()}} - Etape 4
{% endblock %}

{% block step %}
    <h2 id="step-title">Etape 4</h2>
{% endblock %}

{% block summaryTitle %}
    n° {{ booking.transaction }}
{% endblock %}

{% block payment %}
{% endblock %}