<!DOCTYPE html>
<html>
    <head>
        <title>{{ 'error.not_found'|trans }}</title>
        <link rel="stylesheet" href="{{ asset('public/css/style404.css') }}" />
    </head>
    <body>
    <div class="glitch-wrapper">
        <div class="glitch-text">
            ERROR 404: Not found
        </div>
    </div>

    <a href="{{ path('accueil') }}"><button type="button">Homepage</button></a>
    <script src="{{ asset('public/js/style404.js') }}"></script>
    </body>
</html>