/* Phase dev */

/* nav */
.red
{
    background-color: red;
}

.langague
{
    background-color: yellow;
}

/* Form booking*/
.booking
{
    background-color: #5eb5e0;
}

/* body dev*/

.bodyTest
{
    background-color: gray;
}

/* footer dev */

.footer
{
    background-color: lightpink;
}